.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.image-item:nth-child(3n+0) {
    grid-column-end: span 2;
}

@media (max-width: 767px) {
    .image-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 10px;
        margin: 0 auto;
        max-width: 1000px;
    }

    .image-item:nth-child(3n+0) {
        grid-column-end: span 1;
    }

}